* {
    margin: 0px;
    background-color: aliceblue;
}

h1 {
    background-color: yellow;
    color: blue;
    font-size: 15px;
}

.loginForm {
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    padding: 10px;
}

#submitBtn {
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    padding: 10px;
}

a[title] {
    color: beige;
}

a[href="https://likelion.org"] {
    color: orange;
}

h1 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}

.box1 {
    width: 300px;
    height: 200px;
    border-style: dashed solid dotted double;
    border-color: red yellow green purple;
    border-width: 10px;
    border-radius: 10px;

    padding: 10px;
    margin: 20px;
}

.box {
    box-sizing: border-box;
}

.top {
    position: relative;
    top: 5px;
    right: 20px;
  }